/*App.css*/
* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  border-color: dimgrey;
}

.cardHighlight {
  transition: all 0.4s;
}

.cardHighlight:hover {
  border: 1px solid black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 576px) {
  .cardHighlight {
    margin-bottom: 1rem;
  }
}

